@use '../../App.scss' as *;

.authForm { 
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 350px;
    border: 1px solid $darkThemeColor0;
    border-radius: 10px;
}
.form_input_wrapper { 
    display: flex;
    justify-content: center;
}
.form_input_select_form { 
    display: flex;
    flex-direction: column;
}

.orange-btn { 
    display: block;
    width: 100%;
}