@use '../../App.scss' as *;

.page__wrapper { 
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page__wrapper__window { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $pale_white;
    border: 1px solid $border_line;
    border-radius: 10px;
    width: 800px;
}